{% extends 'base.html' %}
{% set current_page = 'about' %}

{% block title %}About KidStat{% endblock %}

{%- block body -%}
    <nav class="navbar navbar-default hidden-xs">
        <div class="container">
            <a class="navbar-brand" href="/">Home</a>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <div class="row">
                <div class="col-md-2 hidden-xs">
                    <img src="{{ url_for('static', filename='images/WHO_Logo.png') }}" class="img-fluid img-responsive">
                </div>
                    <div class="col-md-10 col-xs-12">
                        <h1>KidStat</h1>
                        <p>Allows you to explore World Health Organization's data about child growth standards without diving into data files!</p>

                    </div>
                </div>
            </div>
            <h2>How it works?</h2>
            <p>World Health Organization provides standards for child growth, that have been collected over time. It's possible to categorize measurement by groups</p>
            <p>When you enter observation value, applications looks over available standards and categorize it using a following table:</p>
            <div class="table-responsive">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th>Percentile Range</th>
                            <th>Category Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>[0 - 5]</td><td>Very Low</td></tr>
                        <tr><td>[6 - 15]</td><td>Low</td></tr>
                        <tr><td>[16 - 25]</td><td>Below Average</td></tr>
                        <tr><td>[26 - 75]</td><td>Average</td></tr>
                        <tr><td>[76 - 85]</td><td>Above Average</td></tr>
                        <tr><td>[86 - 95]</td><td>High</td></tr>
                        <tr><td>[96 - 100]</td><td>Very High</td></tr>
                    </tbody>
                </table>
            </div>
            <h2>Technologies used</h2>
            <p><a href="https://www.mongodb.com/">MongoDB</a> is used for data storage.
                <a href="http://flask.pocoo.org/">Flask</a>, a Python microframework handles logic and provides REST API and authorization.
                <a href="https://facebook.github.io/react/">React.js</a> is used for client side logic.
                Vanilla <a href="http://getbootstrap.com/">Bootstrap</a> is used for styling.</p>
            <h2>Author</h2>
            <p>My name is <a href="https://golub.pro" target="_blank">Nikolay Golub</a>, I'm Software Engineer at Toptal. This project was built on my free time for exploring new technologies</p>
        </div>
    </div>
{%- endblock -%}