<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Nikolay Golub">
    <meta name="description" content="Track how your kids grow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
  <div class="main-container"></div>
  <script src="//fb.me/react-15.1.0.min.js"></script>
  <script src="//fb.me/react-dom-15.1.0.min.js"></script>
  <script src="//cdn.jsdelivr.net/refluxjs/0.4.1/reflux.min.js"></script>
  <script src="{{ url_for('static', filename='js/kidstat.js') }}"></script>
</body>
</html>