{% extends 'base.html' %}

{% block title %}Kidstat - Track Kid Growth{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{%- block body -%}
<div class="main-container"></div>
{%- if config.DEBUG -%}
    <script src="//npmcdn.com/react@15.3.1/dist/react.js"></script>
    <script src="//npmcdn.com/react-dom@15.3.1/dist/react-dom.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/redux/3.6.0/redux.min.js"></script>
    <script src="{{ url_for('static', filename='js/kidstat.js') }}"></script>
{%- else -%}
    <script src="//npmcdn.com/react@15.3.1/dist/react.min.js"></script>
    <script src="//npmcdn.com/react-dom@15.3.1/dist/react-dom.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/redux/3.6.0/redux.js"></script>
    <script src="{{ url_for('static', filename='js/kidstat.min.js') }}"></script>
{%- endif -%}
{% endblock %}
