# [FORMAT]
# Maximum number of characters on a single line.
#max-line-length=120

[MASTER]
# C0111 Missing docstring
disable=C0111
generated-members=objects,StringField,FloatField,IntField,DateTimeField,ReferenceField,ObjectIdField,EmbeddedDocument,DoesNotExist,ListField,BooleanField